.cardWrapper{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 6rem;
  
}

.buttonWrap{
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.tabbutton{
    width: 40px;
    height: 40px;
    background:#9D9588;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

.tabbutton:last-child{
    margin-left: 10px  ;
}

.active{
    background: hsl(331, 68%, 41%);
}

.actionButtonWrap{
    margin-top: 40px;

}

.bottomPragraph{
    color:#9D9588;
    width:70%;
    margin: 0 auto;
    margin-top:20px;
    text-align: center;
}